.contact-container{
    display: grid;
    gap: 10%;
}

.contact-items{
    display: grid;
    grid-template-columns: auto auto;
    gap: 2vw;
    width: 20vw;
    transform: translate(80%, 0%);
}

.contact-item{
    background-color: rgba(164, 127, 124, 0.678);
    padding: 1vh;
    height: 20vh;
    width: 20vw;
    border-radius: 1.2rem;
    text-align: center;
    border: 1px solid transparent;
    transition: var(--transition);
}

.contact-item h4{
    height: 25%;
}

.contact-item h5{
    height: 42%;
}

.contact-item:hover{
    background-color: transparent;
    border-color: var(--color-primary-variant);
}

.contact-item-icon{
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}

.contact-item a{
    margin-top: 0.7rem;
    display: inline-block;
    height: 10%;
    font-size: 0.8rem;
}

.contact-item a:hover{
    font-weight: 700;
}

@media screen and (max-width: 2560px){
    #contact{
        margin-bottom: 10rem;
    }
    
    .contact-item{
        height: 20vh;
    }
}

@media screen and (max-width: 1980px){

    .contact-item{
        height: 100%;
    }
}

@media screen and (max-width: 1440px) {
    .contact-item{
        height: 19vh;
        width: 28vw;
        transform: translate(-25%, 0%);
    }

    .contact-item h5{
        height: 35%;
    }
    
}

@media screen and (max-width: 1024px) {

    #contact{
        margin-top: 10rem;
    }

    .contact-item{
        height: 20vh;
        width: 32vw;
        transform: translate(-15%, 0%);
    }
}

@media screen and (max-width: 768px) {

    .contact-item{
        height: 19vh;
        width: 42vw;
        transform: translate(-38%, 0%);
    }
}

@media screen and (max-width: 600px) {

    #contact{
        margin-top: 10rem;
    }

    .contact-items{
        grid-template-columns: auto;
        gap: 1vh;
    }

    .contact-item{
        width: 80vw;
        transform: translate(-15%, 0%);
    }
}

@media screen and (max-width: 320px) {

    .contact-item{
        width: 90vw;
        transform: translate(-20%, 0%);
    }
}