header{
    height: 100%;
    padding-top: 7rem;
    overflow: hidden;
}

.header-container{
    position: relative;
    text-align: center;
    height: 100%;
}

.header-container h1{
    color: #6c584c;
}

.cta{
    margin-top: 2.5rem;
    display: flex;
    gap: 1.2rem;
    justify-content: center;
}

.header-socials{
    position: absolute;
    left: -10%;
    top: 77%;
    bottom: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.8rem;
}

@media screen and (max-width: 1024px) {
    
    header{
        height: 100%;
    }

    .header-socials{
        display: none;
    }
}

@media screen and (max-width: 600px) {
    header{
        height: 100%;
    }

    .header-socials{
        display: none;
    }
}